/* NAV STICKY */

.navbar {
  background-color: var(--background-color);
  height: 64px; /* Fixed height for navbar */
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky; /* Add this */
  top: 0; /* Add this */
  z-index: 1000; /* Optional: ensures it stays above other content */
}

/* NAV STICKY */

/* NAV NOT STICKY */

.navbar {
  background-color: var(--background-color);
  height: 64px; /* Fixed height for navbar */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* NAV NOT STICKY */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  height: 30px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
}

.navbar-links a:hover {
  color: var(--primary-color);
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
}

.navbar-hamburger svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .navbar-hamburger {
    display: block;
    z-index: 1001;
  }
}
